/*
    background-color: rgb(31,173,223);
    display: flex;
    flex-direction: column;
    align-items: center;
*/
body{
    background-color: rgb(31,173,223);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div{
    background-color: white;
}
.options-flex-container{
    background-color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

#state-flex-item{
    background-color:white ;
    width: 200px;
    height: 100px;
    margin: 1px;
    padding: 10px;
    text-align: center;
}

.input-container{
    background-color: white;
    align-content: center;
    margin-bottom: 20px;
}
.container{
    max-width: 85%;
    border-radius: 7px;
    
}
